@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: white;
}

.our-team {
  background: black;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

.swiper {
  position: relative;
  width: 90%;
  max-width: 1150px;
  height: 80vh;
  max-height: 550px;
  padding: 0 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInText 1s ease-out;
}

.swiper-slide {
  background: linear-gradient(to top, #9999990D, #FFFFFF0D);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: solid 2px #FFFFFF1A;
  max-height: 400px;
  flex-direction: column;
  padding: 30px 20px;
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: translateY(-5px);
}

.card-avatar-img {
  width: 120px;
  height: 120px;
  border: solid 2px #FFFFFF1A;
  border-radius: 50%;
  padding: 8px;
  background: #00000040;
  margin-bottom: 16px;
}

.card-name-txt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-role-txt {
  font-weight: normal;
  margin-bottom: 24px;
  color: #FFFFFFB3;
}

.card-follow-btn {
  background: #007BFF;
  padding: 8px 50px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card-follow-btn:hover {
  background: #006FDB;
}

.card-follow-btn:active {
  background: #0057B0;
  transform: scale(0.95);
}

.swiper-button-prev,
.swiper-button-next {
  color: #FFFFFFB3;
  position: absolute;  /* Make sure they are positioned absolutely */
  top: 200px;
  transform: scale(0.7);
  transition: transform 0.25s, color 0.25s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #007BFF;
  transform: scale(1);
}


.swiper-pagination-bullet {
  background: white;
  width: 15px;
  height: 15px;
  opacity: 1;
  margin-top:-30px;
}


@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .swiper {
    width: 100%;
    padding: 0 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .card-follow-btn {
    padding: 8px 30px;
  }
}
